In [2]:
class student:
    def __init__(self,name,roll):
        self.name=name
        self.roll=roll
    def display(self):
        print(self.name)
        print(self.roll)

In [3]:
s=student("nagendra",332)

In [4]:
s.name

'nagendra'

In [5]:
s.roll

332

In [6]:
s.display()

nagendra
332

In [10]:
class student1:
    def __init__(self,name,idd):
        self.name=name
        self.idd=idd
    def __init__(self,name):
        self.name
    def __init__(self,name,ikdd,clases):
        print("called")
        self.name=name
        
    def print_name(self):
        print(self.name)
        #print(self.idd)

s1=student1("nag",332,"cse-2e")

In [13]:
s1.print_name()

nag

NameError: name 're' is not defined